@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:.5px;
}
body{
  background: url(./bg.png);
  background-color:#29303b;
}
html,body{
  position: relative;
  overflow: hidden;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation{
  height:70px;
  background-color: rgb(255 255 255 / 11%);
  margin: 15px 25px 0px 25px;
  border-radius:5px;
  padding: 0px 50px;
}
@media screen and (max-width:600px){
  .navigation{
    padding: 0px 20px;
  } 
}
.online{
  color: rgb(62, 194, 92) !important;
}
.offline{
  color: orange !important;
}
#pwa{
  margin: 0px 10px;
  cursor: pointer;
}
#reload,#times,#menu{
  cursor: pointer;
}
.navigation div svg{
  height:30px;
  color: #fff;
  transition:.3s;
  margin: 0px 5px;
}
.hidden{
  display: none;
}
#QuoteBox{
  height: 500px;
  width:80%;
  background-color: #fff;
  border-radius:5px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  transition:.3s;
}
@media screen and (max-width:1024px) {
  #QuoteBox{
    height:70vh;
    width:90%;
  }
}

#Quote{
  height: 300px;
  margin:50px;
  padding:0px 50px ;
  font-style: oblique;
  color: #29303b;
  line-height:50px;
  border-radius:5px;
  background: url(./dark-wood.png);
  background-color:#29303b;
  color: white;

}
@media screen and (max-width:1024px) {
  #Quote{
    height:45vh;
    overflow: scroll;
    margin:10px;
    padding:10px ;
    text-align: center;
    line-height:30px;
  }
}
#quoteText{
  font-size: 1.2rem;
}
@media screen and (max-width:400px){
  #quoteText,#authorText{
    font-size:15px;
  }
}
#authorText{
  margin:20px 0px 0px 0px;
  color: rgba(255, 255, 255, 0.445);
}
.actionsBTN{
  margin:50px;
  font-size:25px;
}
@media screen and (max-width:1024px) {
  .actionsBTN{
    margin:20px;
      flex-direction: column;
  }
  .actionsBTN div{
    margin-top:10px;
  }
}
.fa-cogs{
  padding: 15px 70px;
  font-size:20px;
  background-color: royalblue;
  color: #fff;
  border-radius:3px;
  border: 2px solid royalblue;
  transition:.3s;
  cursor: pointer;
}
.fa-cogs:hover{
  background-color: transparent;
  color: royalblue;
  transition:.3s;
}
.fa-camera,.fa-twitter,.fa-clone{
  margin: 0px 10px;
  color: #29303b;
  cursor: pointer;
}
.fa-twitter{
  color: #1DA1F2;
}
.flash {
  transition: 0.2s;
  color: rgba(255, 255, 255, 0.445);
}
#dropDown{
width:300px;
margin:5px 0px 0px 25px;
font-size:13px;
text-transform: uppercase;
font-weight:600;
letter-spacing:1px;
}
@media screen and (max-width:1024px) {
  #dropDown{
    width:250px;
  }
}
#dropDown a{
  padding:20px;
  display:block;
  text-decoration: none;
  color: #fff;
  transition:.3s;
  background-color: rgb(255 255 255 / 11%);
  border-radius:1px;
  margin:1px 0px;
  
}
#dropDown a:hover{
  margin: 0px 0px 0px 20px;
  transition:.3s;
  background-color: #fff;
  color: #29303b;
}
.outOfScrren{
  margin-left:500px;
  transition:.3s;
}
