@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:.5px;
}
body{
  background: url(./bg.png);
  background-color:#29303b;
}
.Content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Content-quote{
  max-height:80vh;
  width:70vw;
  background-color: #fffff0;
  border-radius:3px;
  padding:50px;
  display: flex;
  align-items: center;
}
.quote{
  border-left:5px solid royalblue;
  padding: 15px 10px;
  line-height:50px;
  font-size:18px;

  min-width:70vw;
  background-color: #29303b;
  user-select: none;
  color: #fff;
  letter-spacing: .5px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
}
.quote::first-letter{
  font-size:40px;
}
.aurthor{
  text-transform: capitalize;
  font-style: italic;
  color: gray;
  font-size:13px;
  margin: 15px;
}
.options{
display: flex;
justify-content: space-between;
align-items: center;
margin: 25px 0px;
}
.fab{
  font-size:30px;
  margin:0px 0px 0px 10px;
  color: #0f9afb;
  cursor: pointer;
}
.fas{
  font-size:25px;
  margin:0px 10px 0px 0px;
  color: gray;
  cursor: pointer;
}
.Quote-BTN{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width:200px;
  background-color: royalblue;
  color: #fff;
  text-decoration: none;
  border-radius:3px;
  border:2px solid royalblue;
  transition:.3s;
  user-select: none;
  cursor: pointer;
}
.Quote-BTN:hover, .Quote-BTN:hover .fa-cogs{
  background-color: transparent;
  color: royalblue;
  transition:.3s;
}
.fa-cogs{
  font-size:20px;
  color: #fff;
  opacity:.7;
}
svg{
  height:25px;
  color:#0080009c;
margin:0px 15px;
}

.heading-options{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  margin:25px 10px;
}
.offline{
  color: orange;
}
.dev{
position: absolute;
bottom: 0;
right: 0;
padding:5px 10px;
background-color:royalblue;
font-size:12px;
text-transform: uppercase;
color:#fff;
}
.dev a{
  color:whitesmoke;
  font-style: italic;
  font-size:15px;
}
.hidden{
  display:none;
}