@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:.5px;
}
body{
  background: url(./bg.png);
  background-color:#29303b;
}

.Navigation{
  height:70px;
  background-color: rgb(255 255 255 / 11%);
  margin: 15px 25px 0px 15px;
  border-radius:5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}
@media screen and (max-width:600px){
  .Navigation{
    padding: 0px 20px;
  } 
}
.Online{
  height:30px;
  color: rgb(62, 194, 92);
}
.Install,.Reload{
  height:30px;
  color: #fff;
  transform: rotate(270deg);
  margin-right:25px;
  cursor: pointer;
  transition:.3s;
}

.Install:hover,.Reload:hover{
  color: rgba(255, 255, 255, 0.74);
  transition:.3s;
}
.Options{
  display: flex;
  align-items: center;
}
.Menu{
  color: #fff;
  height:30px;
  cursor: pointer;
}
.DropDown{
  background-color:  rgb(255 255 255 / 11%);
  width:300px;
  margin: 15px 25px 0px 65px;
}
@media screen and (max-width:600px){
  .DropDown{
    margin: 15px 25px 0px 35px;
  }
}
.DropDown a{
  font-size: 15px;
  padding: 15px;
  display: block;
  color: #fff;
  text-decoration: none;
}
.DropDown a:hover{
  background: url(./bg.png);
  background-color: #343b46;
}
.hidden{
  display: none;
}
.QuoteBox{
  height: 500px;
  width:80%;
  background-color: #fff;
  border-radius:5px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
}
@media screen and (max-width:1024px) {
  .QuoteBox{
    height:70vh;
    width:90%;
  }
}

.Quote{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:50px;
  padding:0px 50px ;
  font-style: oblique;
  color: #29303b;
  line-height:50px;
  border-radius:5px;
  background: url(./dark-wood.png);
  background-color:#29303b;
  color: white;

}
@media screen and (max-width:1024px) {
  .Quote{
    height:400px;
    overflow: scroll;
    margin:10px;
    padding:10px ;
    text-align: center;
  }
}
.QuoteText{
  font-size: 1.2rem;
}
.Aurthor{
  margin:20px 0px 0px 0px;
  color: rgba(255, 255, 255, 0.445);
}
.Options-btn{
  margin:50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size:25px;
}
@media screen and (max-width:1024px) {
  .Options-btn{
    margin:20px;
      flex-direction: column;
  }
  .Options-btn div{
    margin-top:10px;
  }
}
.fa-cogs{
  padding: 15px 70px;
  font-size:20px;
  background-color: royalblue;
  color: #fff;
  border-radius:3px;
  border: 2px solid royalblue;
  transition:.3s;
  cursor: pointer;
}
.fa-cogs:hover{
  background-color: transparent;
  color: royalblue;
  transition:.3s;
}
.fa-camera,.fa-twitter,.fa-clone{
  margin: 0px 10px;
  color: #29303b;
  cursor: pointer;
}
.fa-twitter{
  color: #1DA1F2;
}
.flash {
  transition: 0.2s;
  color: royalblue;
}
/* .scaleForShotBox{
  height:100vh;
  width:90vw;
}
.scaleForShotContent{
  height: 90vh;
}
.quoteTextFontScale{
  font-size:1.7rem;
} */