* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
.logo{
    height:60px;
    width:60px;
    background-color: aliceblue;
    padding:10px;
    border-radius:10px;
}
#particles-js{
  height:100vh;
  background:#262626 ;
}
.form_div {
  text-align: center;
  width: 300px;
  background-color: #39404b4d;
  padding: 50px;
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form_div h1 {
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 10px;
}
.email_inpt,
.pass_inpt {
  height: 30px;
  width: 280px;
  margin: 30px 0;
  background-color: transparent;
  border: none;
  text-align: center;
  border-bottom: 2px solid #9acd32;
  color: #ffff;
  font-size: 17px;
}
.btn {
  height: 35px;
  width: 200px;
  cursor: pointer;
  margin-top: 20px;
  background-color: #a7e9af;
  color: #29303b;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 4px;
}
.btn:hover {
  background-color: #fff;
}
.links {
  width: 180px;
  margin: 70px auto 0 auto;
}
.links a {
  color: #d2d2d2;
  font-size: 13px;
  text-decoration: none;
  margin-bottom: 10px;
}
.links a:hover {
  color: #fff;
}
::placeholder {
  color: #fff;
  opacity: 0.6;
}
@media screen and (max-width: 430px) {
  .form_div {
    padding: 50px 30px;
  }
}
@media screen and (max-width: 380px) {
  .form_div {
    padding: 50px 20px;
  }
}
@media screen and (max-width: 350px) {
  .form_div {
    padding: 40px 10px;
  }
}
@media screen and (max-width: 328px) {
  .form_div {
    padding: 30px 0;
  }
}
