
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
body{
    color:#444;
}
.sub_title {
  display: block;
  margin-bottom:40px;
  font-size: 30px;
}
.content_pic{
    margin:150px 0px;
    padding:0px 20px;
    display: flex;
    justify-content:space-between;
}
.des{
    font-size:16px;
    letter-spacing:1px;
    line-height:30px;
    width:650px;
}
.img{
    margin-right:70px;
}
.path a{
color: #fff;
text-decoration: none;
}
.navLinks,
.navLinks_mob{
  text-decoration: none;
}
.path span {
  color: #d2d2d2;
  cursor: context-menu;
}
.img img{
  height:300px;
} 